.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    span {
        color: $clr-primary;
    }

    .nav-list * {
        color: black;
        font-weight: 700;
        padding: 10px;
        text-decoration: none;
        border-radius: 16px;
    }

    .nav-list {
        display: flex; 
        gap: 10px;
    }

    .logo {
        font-family: livic-bold;
    }
}